@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
html{
    width: 100vw;
    height: 100vh;
}
.container{
    max-width: 100%;
    margin: auto;
    
    
}
.flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.img{
    padding: 5px;
}
header{
    height: 800px;
    background: url('Imagens/header_background.jpeg') no-repeat center center;
    /* Aqui vai ficar o background do header */
    background-size: cover;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: medium;
}
nav#header{
    width: 100vw;
    text-align: right;
    padding-right: 40px;
}
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 20, 72, 0.8);
    z-index: 1;
}

nav{
    max-width: 97vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px;
    padding-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.2s;
    height: 100px;
    z-index: 1000;
}
.nav-list{
    display: flex;
    gap: 32px;
}


nav.rolagem{
    background-color: white;
    padding: 0px;
    padding-top: 5px;
    margin: 0px;
    transition: 0.2s;
}
nav.rolagem .img_of{
    filter: brightness(0);
}
nav.rolagem a{
    color: black;
}
nav.rolagem a:hover{
    color: gray;
    transition: 0.2s;
}
.nav.active .rolagem .hamburguer{ 
    padding-right: 0px;
}

li{
    display: inline-block;
    
    
    margin-bottom: 0px;
    color: white;
}
li.icon{
    display: flex;
    padding-right: 40px;
    position: relative;
    top: -3px;
    gap: 20px;
}

.nav.active .icon{
    display: none;

}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    transition: 0.5s;
    color: rgb(163, 2, 163);
}

body{
    width: 100vw;
    overflow-x: hidden;
}

img#img{
   display: inline-block;
}

main{
    width: 100vw;
    min-height: 100vh;
    background-color: white;
}

.header_conteudo {
   
    height: 500px;
    position: relative;
    padding-top: 12.25rem;
    padding-left: 12rem;
    
    z-index: 2;
    color: rgb(255, 255, 255);
    font-size: 2em;
}

a.detalhes{
    color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 40px;
    font-size: 1em;
    padding: 10px;
    font-weight: bolder;
}
a.detalhes:hover{

    transition: 0.2s;
    background-color: white;
    color: rgba(12, 20, 72, 0.8);
}
h1#nome_grande{
    font-size: 3em;
}
p#p_grande{
    font-size: 1.5em;
    padding-bottom: 30px;
}


div.elemento{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 200px;
}
div.elemento img{
    width: 100px;
    height: auto;
}

.texto_emocional {
    padding-top: 20px;
    text-align: center;
}

.info {
    background-color: rgba(60,71,80,255);
    color: white;
    font-size: 30px;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.sobre-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.sobre-1 .imagem {
    flex: 0 0 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.sobre-1 .imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sobre-1 .texto {
    flex: 1;
    text-align: left;
    max-width: 400px;
    font-size: 1rem;
    color: #333;
}

.imagem {
    width: 200px;
    height: 200px;
}

#produtos {
    background-color: red;
}

#detalhes {
    background-color: aquamarine;
}

#projeto {
    background-color: yellow;
}

#texto-migas {
    color: white;
}

@media (max-width: 1024px) {
    .header_conteudo {
        padding-left: 5rem;
        padding-top: 8rem;
        font-size: 1.5em;
    }

    h1#nome_grande {
        font-size: 2em;
    }

    p#p_grande {
        font-size: 1.2em;
    }

    .flex {
        flex-direction: column;
    }

    .sobre-1 .texto, .sobre-1 .imagem {
        flex: 1 0 100%;
        text-align: center;
    }
}

.rolagem .hamburguer::before,
.rolagem .hamburguer::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #000000;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.rolagem .hamburguer{
    
    border: none;
    background: none;
    border-top:3px solid #000000 ;
    cursor: pointer;
}

.hamburguer{
    display: none;
    border: none;
    background: none;
    border-top:3px solid #fff ;
    cursor: pointer;
    
    
}

.hamburguer::before,
.hamburguer::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}
.nav.active .hamburguer{
    border-top:3px solid #fff ;
}
.nav.active .hamburguer::before,
.nav.active .hamburguer::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.nav.active a{
    color: white;
}
.nav.active :hover{
    color: purple;
    transition: 0.5s;
}


@media (max-width: 750px) {
    .header_conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:100vh;
        padding-left: 32px;
        padding-top: 0;
        text-align: center;
    }

    a.detalhes {
        font-size: 0.9em;
        padding: 8px;
    }

    .sobre-1 .imagem, .sobre-1 .texto {
        margin-bottom: 10px;
    }

    .sobre-1 .imagem {
        width: 100%;
        height: auto;
    }

    .sobre-1 .texto {
        font-size: 0.9rem;
    }

    
    .hamburguer{
        display: block;
        margin-right: 40px;
        z-index: 3;
        
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        clip-path: circle(100px at 90% -25%);
        transition: 0.4s ease-out;

        
        background: rgb(12, 20, 72);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: 2;
        gap: 0;
        pointer-events: none;
    }
    .nav.active .nav-list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    .nav-list.icon{
        display: inline-flex; /* Aplica o flexbox apenas aos spans de ícones */
        flex-direction: row; /* Garante que os ícones fiquem na horizontal */
        gap: 10px; /* Espaçamento entre os ícones */
        list-style: none; /* Remove qualquer estilo de lista */
    }
    .nav .icon{
        display: none;
    }
    li.icon img{
        width: 30px;
        height: 30px;
    }
    .nav.active .icon {
        display: inline-flex;
        gap: 20px;
        padding-right: 0px;
    }
    .nav.active .hamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent ;
        padding-top: 20px;
        padding-left: 20px;
    }
    .nav.active .hamburguer::before{
        transform: rotate(135deg);
    }
    .nav.active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}

@media (min-width: 1440px) {
    .header_conteudo {
        font-size: 2.5em;
    }

    h1#nome_grande {
        font-size: 3.5em;
    }

    p#p_grande {
        font-size: 2em;
    }
}

footer {
    text-align: center;
    padding-block: 50px;
}
